In [1]:
# *ESERCIZIO PRATICA 2 - W13D2*

In [2]:
nome_scuola='Epicode'

In [3]:
#Stampare ogni carattere della stringa, 
#uno su ogni riga, utilizzando un costrutto while.

num_lett = len(nome_scuola)
i=0

while i < num_lett:
    print(nome_scuola[i])
    i += 1

E
p
i
c
o
d
e

In [4]:
for lettera in nome_scuola:
    print(lettera)

E
p
i
c
o
d
e

In [5]:
#Stampare a video tutti i numeri da 0 a 20 
#utilizzando il costrutto while

i=0
fino_a=20
while i <= fino_a:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
#Calcolare e stampare tutte le prime 10 potenze di 2 (e.g., 2⁰, 2¹, 2², …) 
#utilizzando un ciclo while.
n=2
pot=0

while pot < 10:
    pot += 1
    print(n**pot)

2
4
8
16
32
64
128
256
512
1024

In [7]:
#
pot=0

while n:
    pot += 1
    print(n**pot)
    
    if n**pot >= 25000:
        break

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768

In [8]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]
print(studenti,corsi)

['Alex', 'Bob', 'Cindy', 'Dan', 'Emma', 'Faith', 'Grace', 'Henry'] ['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend']

In [9]:

corsi.append('AI')
corsi.append('Digital Marketing')
print(corsi)

['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'AI', 'Digital Marketing']

In [10]:
#data una lista di numeri, come output stamperà
#lo stesso numero di asterischi su righe diverse

num_ast=[7 , 3, 4 , 1 , 9, 13] 

for numero in num_ast:
    print('*'* numero)

*******
***
****
*
*********
*************

In [11]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", 
            "MNOPQR89S03A456D", "STUVWX95Z04A654E", 
            "XYZABC01D05A789F", "DEFGHI95J06A987G"]

In [12]:
# trovare i codici fiscali che contengono "95", 
#metterli in una lista, e alla fine stamparla

for cf in lista_cf:
   presenza_95 ="95" in cf
   print(presenza_95, '-', cf)

True - ABCDEF95G01A123B
False - GHIJKL91M02A321C
False - MNOPQR89S03A456D
True - STUVWX95Z04A654E
False - XYZABC01D05A789F
True - DEFGHI95J06A987G

In [13]:
 for cf in lista_cf:
   presenza_95 ="95" in cf
   if presenza_95:
         print(cf)
   else: print('-')

ABCDEF95G01A123B
-
-
STUVWX95Z04A654E
-
DEFGHI95J06A987G

In [14]:
 for cf in lista_cf:
   if ("95" in cf):
         print(cf)
   else: print('-')

ABCDEF95G01A123B
-
-
STUVWX95Z04A654E
-
DEFGHI95J06A987G

In [15]:
#trova i numeri per cui è divisibile 150

div=1
while div <= numero:
    if numero % div == 0:
        numero/= div
        print(div)
    div+=1

1
13

In [16]:
#in realtà il 5 dovrebbe comparire 2 volte per farlo aggiungere un altro while

numero = 150
div = 2

while div <= numero:
    if numero % div == 0:
        numero/= div
        while numero % div == 0:
            numero /= div
            print(div)
        print(div)
    div += 1

2
3
5
5

In [17]:
str1='seggiola'
prime_lett= str1[0:3]
ultime_lett= str1[5:8]

print(prime_lett,'...',ultime_lett)

seg ... ola

In [18]:
import numpy as np

In [19]:
#stampare prime e ultime 3 lettere di una lista

str1= ['seggiola','calzino','tavolo','sgabello','neve','blu','pipistrello']
np_str1 = np.array(str1)
for cose in np_str1:
    if len(cose)>= 6:
        print(cose[0:3],'-',cose[-3:])
    if 4 <= len(cose)<= 5:
        print(cose[0:2],'-',cose[-2:])
    if len(cose)<=3:
        print(cose[0:1],'-',cose[-1:])

seg - ola
cal - ino
tav - olo
sga - llo
ne - ve
b - u
pip - llo

In [20]:
#calcolare la media dei guadagni

guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
guadagni_np=np.array(guadagni)
print('la media dei guadagni è', np.mean(guadagni_np))

la media dei guadagni è 70.0

In [21]:
#calcolare media guadagni con for

guadagni2 = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
somma=0
for soldoni in guadagni:
   somma+=soldoni
media = somma/len(guadagni2)
print('la media dei guadagni è', media)

la media dei guadagni è 70.0

In [22]:
#calcolare media guadagni con while

guadagni2 = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
somma=0
ind=0
while ind<len(guadagni):
    somma+=guadagni2[ind]
    ind+=1
print('la somma dei guadagni è',somma)
media= somma/len(guadagni2)
print('la media dei guadagni è',media)

la somma dei guadagni è 840
la media dei guadagni è 70.0

In [23]:
import pandas as pd

In [24]:
#Stampare a video tutti e soli gli studenti che frequentano una prima edizione; 
#non tutti i dati potrebbero essere necessari.

tab={'studenti': ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace",
"Henry"], 'corsi' : ["Cybersecurity", "Data Analyst", "Backend", "Frontend",
"Data Analyst", "Backend", "Frontend","Cybersecurity"], 'edizioni':[1, 2, 3, 2, 2, 1, 3, 3]}
studenti_corsi=pd.DataFrame(tab, index=['-','-','-','-','-','-','-','-'])
studenti_corsi

prime_edizioni=studenti_corsi.loc[studenti_corsi['edizioni']==1]
prime_edizioni

  studenti          corsi  edizioni
-     Alex  Cybersecurity         1
-    Faith        Backend         1

In [25]:
#cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista

prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
prezzi_dollaro = [prezzo.replace('€','$') for prezzo in prezzi]
print(prezzi_dollaro)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [26]:
#stampiamo, per ogni parola, quante volte appare la lettera "e"; 
# sia maiuscola che minuscola.

parole = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo",
"Belvedere", "Semestre", "Esteta", "Sosta", "Orpello",
"Abete", "Orologio", "Cesta", "Ermellino"]

for parola in parole:
        conteggio = 0
        for lettera in parola:
           if lettera in ['e','E']:
               conteggio +=1
        print(parola, 'ha', conteggio, 'e')

Albergo ha 1 e
Sedia ha 1 e
Borgo ha 0 e
Petalo ha 1 e
Eremo ha 2 e
Belvedere ha 4 e
Semestre ha 3 e
Esteta ha 2 e
Sosta ha 0 e
Orpello ha 1 e
Abete ha 2 e
Orologio ha 0 e
Cesta ha 1 e
Ermellino ha 2 e

In [27]:
#oppure#

parole2 = ["Albergo", "Sedia", "Borgo", "Petalo", "Eremo",
"Belvedere", "Semestre", "Esteta", "Sosta", "Orpello",
"Abete", "Orologio", "Cesta", "Ermellino"]

for parola2 in parole2:
        parola2=parola2.lower()    
        conteggio=parola2.count('e')
        print(parola2, 'ha', conteggio, 'e')

albergo ha 1 e
sedia ha 1 e
borgo ha 0 e
petalo ha 1 e
eremo ha 2 e
belvedere ha 4 e
semestre ha 3 e
esteta ha 2 e
sosta ha 0 e
orpello ha 1 e
abete ha 2 e
orologio ha 0 e
cesta ha 1 e
ermellino ha 2 e

In [28]:
#Creiamo un dizionario che assegni ad ogni proprietario la sua auto

automobili={'Ada':'Punto','Ben':'Multipla','Charlie':'Golf','Debbie':'107'}

#Stampiamo il dizionario per intero, e poi l'auto associata a Debbie

print(automobili)

automobili['Debbie']

{'Ada': 'Punto', 'Ben': 'Multipla', 'Charlie': 'Golf', 'Debbie': '107'}

'107'

In [29]:
#Con un ciclo, e usando il metodo .values()
#stampiamo a video tutte le autoche non sono una Multipla.

for auto in automobili.values():
    if auto != 'Multipla':
        print(auto)

Punto
Golf
107

In [30]:
automobili1 = {"Ada": "Punto", "Ben": "Multipla","Charlie": "Golf", "Debbie": "107", "Emily": "A1"}


automobili1.update({"Ben": "Polo", "Fred": "Octavia","Grace": "Yaris", "Hugh": "Clio"})

print(automobili1)

{'Ada': 'Punto', 'Ben': 'Polo', 'Charlie': 'Golf', 'Debbie': '107', 'Emily': 'A1', 'Fred': 'Octavia', 'Grace': 'Yaris', 'Hugh': 'Clio'}

In [31]:
tab_auto ={'Proprietari':['Ada','Ben', 'Charlie','Debbie','Emily','Fred','Grace','Hugh'], 'automobili':['Punto','Polo','Golf','107','A1','Octavia','Yaris','Clio']}
pd_tab_auto=pd.DataFrame(tab_auto)

pd_tab_auto

  Proprietari automobili
0         Ada      Punto
1         Ben       Polo
2     Charlie       Golf
3      Debbie        107
4       Emily         A1
5        Fred    Octavia
6       Grace      Yaris
7        Hugh       Clio

In [32]:
listaccia=[23,11,76,32,5,9,74,13,104]
print('il numero minimo della lista è', min(listaccia),'in numero massimo è',max(listaccia))

il numero minimo della lista è 5 in numero massimo è 104

In [33]:
lista_ordinata= sorted(listaccia)

print(lista_ordinata[-3:])

[74, 76, 104]

In [58]:
listaccia=[23,11,76,32,5,9,74,13,104]

k=32
somma=0
conteggio=0

for numero in listaccia:
    if numero >= k:
        somma+=numero
        conteggio+=1
media = somma/conteggio
print('la media dei numeri maggiori di 32 è',media)

la media dei numeri maggiori di 32 è 71.5

In [59]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

# Calcoliamo i guadagni medi dei mesi precedenti
media_prec = guadagni[0]
for i in range(1, len(guadagni)):
    media_prec = sum(guadagni[:i]) / i
    print(f"Mese {i + 1}: {guadagni[i]} € (media prec: {media_prec} € - {'il guadagno attuale è maggiore' if guadagni[i] > media_prec else 'il guadagno attuale è minore'})")

Mese 2: 90 € (media prec: 100.0 € - il guadagno attuale è minore)
Mese 3: 70 € (media prec: 95.0 € - il guadagno attuale è minore)
Mese 4: 40 € (media prec: 86.66666666666667 € - il guadagno attuale è minore)
Mese 5: 50 € (media prec: 75.0 € - il guadagno attuale è minore)
Mese 6: 80 € (media prec: 70.0 € - il guadagno attuale è maggiore)
Mese 7: 90 € (media prec: 71.66666666666667 € - il guadagno attuale è maggiore)
Mese 8: 120 € (media prec: 74.28571428571429 € - il guadagno attuale è maggiore)
Mese 9: 80 € (media prec: 80.0 € - il guadagno attuale è minore)
Mese 10: 20 € (media prec: 80.0 € - il guadagno attuale è minore)
Mese 11: 50 € (media prec: 74.0 € - il guadagno attuale è minore)
Mese 12: 50 € (media prec: 71.81818181818181 € - il guadagno attuale è minore)